body {
  font-family: "Arial", sans-serif;
  background-color: #121212; /* Dark background */
  color: #e0e0e0; /* Light text color for better readability on dark background */
  line-height: 1.6;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: #1c1c1c; /* Slightly lighter shade of black for header */
  color: #fff; /* White text for contrast */
  padding-top: 30px;
  min-height: 30px;
  border-bottom: #2e1f1b 3px solid;
}

header h1 {
  padding: 2px 0;
  text-align: center;
}

section {
  margin: 20px 0;
}

section h2 {
  color: #ffffff; /* White color for headings */
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background: #262626; /* Dark grey for list items */
  color: #fff; /* White text for contrast */
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

.custom-link {
    text-decoration: none; /* Keeps the underline removed */
    color: inherit; /* Inherits color from parent, maintaining light text on dark background */
}

footer {
  text-align: center;
  color: #e0e0e0; /* Light color text for the footer */
}
