body {
  font-family: "Arial", sans-serif;
  background-color: #f7f6f6;
  color: #333;
  line-height: 1.6;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: #090909;
  color: #fff;
  padding-top: 30px;
  min-height: 30px;
  border-bottom: #2e1f1b 3px solid;
}

header h1 {
  padding: 2px 0;
  text-align: center;
}

section {
  margin: 20px 0;
}

section h2 {
  color: #000000;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background: #030303;
  color: #fff;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

.custom-link {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* The link will inherit the color from its parent element */
}

footer {
  text-align: center;
}
